<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>QUnit test for components._HomepageManager.PersistentPageOperationAdapter - sap.ushell</title>

    <script src="../../../../../../resources/sap-ui-core.js"
            data-sap-ui-bindingSyntax="complex"
            data-sap-ui-theme="sap_fiori_3"></script>
    <link href="../../../../../../resources/sap/ui/thirdparty/qunit-2.css" rel="stylesheet" />
    <script src="../../../../../../resources/sap/ui/thirdparty/qunit-2.js"></script>
    <script src="../../../../../../resources/sap/ui/qunit/QUnitUtils.js"></script>
    <script src="../../../../../../resources/sap/ui/thirdparty/sinon-4.js"></script>
    <script src="../../../../../../resources/sap/ui/qunit/qunit-coverage.js" data-cover-flags="branchTracking"
            data-sap-ui-cover-only="sap/ushell/components/_HomepageManager/PersistentPageOperationAdapter.js"></script>
    <script src="../../../test/components/_HomepageManager/PersistentPageOperationAdapter.qunit.js"></script>
    <style>
        html, body { width:100%; height:100%; margin:0; overflow:auto; }
        #qunit-fixture { position:initial; width:initial; height:initial; }
    </style>
</head>
<body id="body" class="sapUiBody">
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
</body>
</html>
